@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FDE68A;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-image: url(minion.jpg);
    background-position: top-center;
    background-attachment: fixed;
    background-size:cover;
}

header {
    background-color: #10455b;
    padding: 1rem;
    color: white;
}

main {
    padding-top: 5rem;
    margin: auto;
    width: 50%;
}

h1,
.btn {
    text-align: center;
}
#btn-tlate,
#input-txt {
    font-family: 'Poppins', sans-serif;
}

#btn-tlate {
    background-color: #10455b;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    padding: 1.5rem 1.5rem;
    margin: 1rem 0 1rem 0;
}

#btn-tlate:hover {
    opacity: 0.9;
}

#input-txt {
    width: 100%;
    padding: 1rem;
    border-radius: 10% 2% 10% 2%;
}

#output-txt {
    width: 100%;
    padding: 1rem;
    background-color: whitesmoke;
    color: #10455b;
    height: 15vh;
    border-radius: 10% 2% 10% 2%;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #10455b;
    color: white;
    font-size: x-large;
}